$light-background-color: rgba(#d5c9c7, .5);
$light-primary-color: #a56e4e;
$light-secondary-color: #c0b6ae;
$light-shadow-color: rgba(0, 0, 0, 0.1);
$light-line-color: rgba(255, 255, 255, 0.6);
$light-el-primary-color: #3736ab;
$light-el-secondary-color: #5f5978;
$light-constract-color: rgb(33, 15, 65);
$light-constract-secondary-color: rgba(33, 15, 65, .8);
$light-proBlock-color: rgba(255, 255, 255, 0.2);
$light-color: rgba(255, 255, 255, 1);
$dark-background-color: #24272c;
$dark-primary-color: rgba(27, 29, 33, 0.7);
$dark-secondary-color: rgb(58,62,71);
$dark-el-primary-color: rgba(255, 122, 0, 1);
$dark-el-secondary-color: rgb(204, 146, 92);
$dark-shadow-color: rgba(0, 0, 0, 0.2);
$dark-line-color: rgba(255, 255, 255, 0.6);
$dark-color: rgba(255, 255, 255, 1);


@keyframes subMenuUp {
  from{
    transform: translateY(50px);
    opacity: 0;
  }to{
    transform: translateY(0px);
    opacity: 1;
  }
} 

@keyframes opacity {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
} 